.discography {
  margin-bottom: 15em;
}

.container {
  width: var(--c-width);
  margin: 0 auto;
}

.albumsGrid {
  display: grid;
  justify-content: center;
  grid-gap: 1em;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(3, 250px);
  grid-template-areas:
    'episo2 ...... episo1 ...... episo3'
    'episo2 singl1 episo1 singl2 episo3'
    '...... singl1 btn singl2 ......';
}

.title {
  margin: 0;
  text-align: center;
  line-height: 1;
}

.description {
  text-align: center;
  opacity: 0.7;
  margin: 2.5rem auto 5rem auto;
  max-width: 40em;
}

.ep1 {
  grid-area: episo1;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 5px;
  transform-style: preserve-3d;
  background-image: url('/ep1.jpg');
  background-size: cover;
  background-position: center center;
  will-change: transform;
}

.ep2 {
  grid-area: episo2;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 5px;
  transform-style: preserve-3d;
  background-image: url('/ep2.jpg');
  background-size: cover;
  background-position: center center;
  will-change: transform;
}

.ep3 {
  grid-area: episo3;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 5px;
  transform-style: preserve-3d;
  background-image: url('/ep3.jpg');
  background-size: cover;
  background-position: center center;
  will-change: transform;
}

.singl1 {
  grid-area: singl1;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 5px;
  transform-style: preserve-3d;
  background-image: url('/single1.jpg');
  background-size: cover;
  background-position: center center;
  will-change: transform;
}

.singl2 {
  grid-area: singl2;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 5px;
  transform-style: preserve-3d;
  background-image: url('/single2.jpg');
  background-size: cover;
  background-position: center center;
  will-change: transform;
}

.btn {
  grid-area: btn;
  justify-self: center;
  align-self: center;
}

.card {
  width: 250;
  /* height: 116px; */
  transform: translateZ(60px);
  /* background-color: var(--clr-rgba);
  border-radius: 5px; */
  /* padding-top: 0.1em; */
}

.cardTitle {
  user-select: none;
  line-height: 1;
  text-transform: uppercase;
  color: var(--clr-accent);
  /* transform: translate(0, -35px); */
}

.cardBtn {
  /* transform: translate(0, -35px); */
  margin-bottom: 1em;
}
