.contact {
  margin-bottom: 15em;
}

.container {
  width: var(--c-width);
  margin: 0 auto;
}

.title {
  text-align: center;
  line-height: 1;
  margin-top: 0;
  text-transform: capitalize;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description {
  max-width: 40em;
  opacity: 0.7;
}
